/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #f4c3be;   /* background color */
	color: #603E3F;          /* text color for the entire page */
	font-size: 23px;
	font-family: Georgia, serif;
}

h1, h2 { 
	text-align: center;     /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 1300px;
	margin: 0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding: 4px;
	text-align: left;
	font-size: 30px;
	background-color: #f9cb85;
 }

.stepContent{ 
	background-color: white;
	padding: 7px;
	display: flex;
	justify-content: center;
}

.stepDescription {
	width: 35%;
	padding-right: 60px;
	padding-left: 10px;
}

.stepImage {
	width: 60%;	
	padding: 5px;
	text-align: center;
}

img { 
	width: 100%;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

.warning {
	background-color: #FBB8C4;
	padding: 10px;
	border-radius: 20px;
}

.material-icons {
	color: red; 
	font-size: 3em;
}