@charset "UTF-8";
/* CSS Document */

#wrapper {
	width: 1123px;
	margin: 0 auto;    /* centers wrapper */
}

h1 {
	text-align: center;
	color: #4b3459;
	font-family: "Times New Roman", "serif";
	padding-top: 50px;
	font-size: 60px;
	font-weight: bold;
}

.titles {
	margin-bottom: 170px;
	line-height: 44px;
}

h2 {
	text-align: center;
	color: #4b3459;
	font-family: "Times New Roman", "serif";
	padding-top: 90px;
	font-size: 30px;
	font-weight: lighter;
}

body {
	background-color: #f3eff6;
}

footer {
	text-align: center;
	color: #4b3459;
	font-family: "Times New Roman", "serif";
	padding-top: 90px;
	font-size: 15px;
}