@charset "UTF-8";
/* CSS Document */

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #octopus_image {
border: black 5px solid;
max-width: 25%;
}
 
 #octopus_hearts {
display: none;
border: black 5px solid;
max-width: 25%;
}

.choices {
cursor: pointer;
}