@charset "UTF-8";
/* CSS Document */

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #octopus_image {
border: black 5px solid;
max-width: 25%;
}
 
 #octopus_hearts {
display: none;
border: black 5px solid;
max-width: 25%;
}

.choices {
cursor: pointer;
}

a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color:  pink; 
	color:  black; 
}

a:hover {
	font-size:200%;
	background-color: deeppink;
	color: white; 
}